<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/jquery-3.0.0 2.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="style/stylesheet.css" charset="utf-8">
    <title>Weekend Challenge #4</title>
  </head>
  <body>
    <h1>Weekend Challenge 4</h1>
    <div id="inputDiv">
      <div id="inputInnerDiv">
        <input type="text" id='taskIn' name="name" value="">
        <button type="button" id='submit' name="button">create task</button>
      </div>  
    </div>
    <div id="uncompletedOuter">
      <h3>Tasks To Complete</h3>
      <div id="uncompletedContainer">
      </div>
    </div>
    <div id="completedOuter">
      <h3>Completed Tasks</h3>
      <div id="completedContatiner">
      </div>
    </div>
  </body>
</html>
